{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
{% if user %}
    <div class="profile-container">
        <div class="header-profile">
            <div class="profile-pic-cont">
                <div class="profile-pic">
                    <button class="add-photo" title="Add a profile photo">
                        {{ form_start(form, {'attr':{'class': 'avatar-form'}}) }}
                            {{ form_row(form.avatar) }}
                            <img alt="Add a profile photo" id="avatar" src="{{ '/uploads/' ~ user.avatar }}">
                        {{ form_end(form) }}
                    </button>
                </div>
            </div>
            <div class="profile-info">
                <div class="profile-edit">
                    <h2>{{ user.login }}</h2>
                    {% if app.user.login == user.login %}
                        <div class="edit-prof-but">
                            <a href="">Edit profile</a>
                        </div>
                        <div class="settings-but">
                            <img src="{{ asset('./images/settings.png') }}">
                        </div>
                    {% endif %}
                </div>
                <ul class="profile-stats">
                    <li><span>0</span> posts</li>
                    <li><span>0</span> followers</li>
                    <li><span>0</span> following</li>
                </ul>
                <div class="profile-name">
                    <h1>{{ user.fullname }}</h1>
                </div>
            </div>
        </div>
        <div class="prof-bookmarks">
            <a href="" class="bkm-posts">
                <span>POSTS</span>
            </a>
            <a href="" class="bkm-igtv">
                <span>IGTV</span>
            </a>
            <a href="" class="bkm-saved">
                <span>SAVED</span>
            </a>
            <a href="" class="bkm-tagged">
                <span>TAGGED</span>
            </a>
        </div>
        <div class="prof-content">
        </div>
    </div>
    <div class="footer">
        <div class="footer-more">
            <a href="">About</a>
            <a href="">Blog</a>
            <a href="">Jobs</a>
            <a href="">Help</a>
            <a href="">API</a>
            <a href="">Privacy</a>
            <a href="">Terms</a>
            <a href="">Top Accounts</a>
            <a href="">Hashtags</a>
            <a href="">Locations</a>
        </div>
        <div class="footer-cpr">
            <a href="">English</a>
            <a>2021 Instagram from Facebook<a>
        </div>
    </div>
{% else %}
    <div class="error-user">
        <h2>Sorry, this page isn't available.</h2>
        <div class="error-user-cont">
            <div class="error-mess">
                The link you followed may be broken, or the page may have been removed.<a href="{{ path('home') }}"> Go back to Instagram</a>
            </div>
        </div>
    </div>  
{% endif %}
{% endblock %}
