{% extends 'base.html.twig' %}

{% block title %}Instagram{% endblock %}

{% block body %}
    <div class="login-container">
        <img class="phone-img" src="{{ asset('./images/login-img.jpg')}}"> 
        <div class="form-container login-cont">
            <div class="login border">
                <img class="logo" src="{{ asset('./images/login-logo.jpg') }}">
                <form method="post">
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="Email" placeholder="email" required autofocus><br />
                    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" placeholder="Password" required><br />

                    <input type="hidden" name="_csrf_token"
                        value="{{ csrf_token('authenticate') }}"
                    >

                    {#
                        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                        See https://symfony.com/doc/current/security/remember_me.html

                        <div class="checkbox mb-3">
                            <label>
                                <input type="checkbox" name="_remember_me"> Remember me
                            </label>
                        </div>
                    #}

                    <button class="btn btn-lg btn-primary" type="submit">
                        Log in
                    </button>
                </form>
                <div>
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}
                </div>
                <div class="select-lg">
                    <div class="f-ln"></div>
                    <div class="or-ln">OR</div>
                    <div class="s-ln"></div>
                </div>
                <button class="btn-lg fb-btn">
                    Log in with Facebook
                </button><br />
                <a class="fg-btn" href="">Forgot password?</a>
            </div>
            <div class="register border">
                <p>Don't have an account? <a href="">Sign Up</a></p>
            </div>
            <div class="download">
                <p>Get the app.</p>
                <div class="download-choose">
                    <a href=""><img src="{{ asset('./images/appstore.png') }}"></a>
                    <span><br /></span>
                    <a href=""><img class="snd-ch" src="{{ asset('./images/googleplay.png') }}"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footer-more">
            <a href="">About</a>
            <a href="">Blog</a>
            <a href="">Jobs</a>
            <a href="">Help</a>
            <a href="">API</a>
            <a href="">Privacy</a>
            <a href="">Terms</a>
            <a href="">Top Accounts</a>
            <a href="">Hashtags</a>
            <a href="">Locations</a><br />
            <a href="">Beauty</a>
            <a href="">Dance</a>
            <a href="">Fitness</a>
            <a href="">Food & Drink</a>
            <a href="">Home & Garden</a>
            <a href="">Music</a>
            <a href="">Visual Arts</a>
        </div>
        <div class="footer-cpr">
            <a href="">English</a>
            <a>2021 Instagram from Facebook<a>
        </div>
    </div>
{% endblock %}
