{% extends 'base.html.twig' %}

{% block body %}
    <div class="form-container register-cont">
        <div class="reg border">
            <img class="logo-r" src="{{ asset('./images/login-logo.jpg') }}">
            <h2 class="rg-text">Sign up to see photos and videos from your friends.</h2>
            <button class="btn fb-rg">Log in with Facebook</button>
            <div class="select-lg">
                <div class="f-ln"></div>
                <div class="or-ln or-rg">OR</div>
                <div class="s-ln"></div>
            </div>
            <div class="register-form">
                {{ form(form) }}
            </div>
            <p class="agree-terms">
                By singing up, you agree to our <strong>Terms</strong>. Learn how we collect, use and share your data in our <strong>Data Policy</strong> and how we use cookies and similar technology in our <strong>Cookies Policy</strong>.
            </p>
        </div>
    </div>
    <div class="register rg-lg-cnt border">
        <p>Have an account? <a href="{{ path('app_login') }}">Log in</a></p>
    </div>
    <div class="download">
        <p>Get the app.</p>
        <div class="rg-download">
            <a href=""><img src="{{ asset('./images/appstore.png') }}"></a>
            <a href=""><img class="snd-ch" src="{{ asset('./images/googleplay.png') }}"></a>
        </div>
    </div>
    <div class="footer">
        <div class="footer-more">
            <a href="">About</a>
            <a href="">Blog</a>
            <a href="">Jobs</a>
            <a href="">Help</a>
            <a href="">API</a>
            <a href="">Privacy</a>
            <a href="">Terms</a>
            <a href="">Top Accounts</a>
            <a href="">Hashtags</a>
            <a href="">Locations</a>
        </div>
        <div class="footer-cpr">
            <a href="">English</a>
            <a>2021 Instagram from Facebook<a>
        </div>
    </div>
{% endblock %}
